[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydub = "*"
soundfile = "*"
moviepy = "*"
numpy = "==2.0.0"
transformers = "*"
datasets = {extras = ["audio"], version = "*"}
accelerate = "*"
flash-attn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
